@import url(https://fonts.googleapis.com/css?family=Khula:700);

* {
  margin: 0;
  padding: 0;
  font-family: Khula;
}
html,
body {
  background: #111111;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  height: 50px;
}
footer {
  width: 100%;
  height: 50px;
  text-align: center;
}

section {
  width: 100%;
  height: calc(100vh - 100px);
}

.flex-parent {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.flex-parent div {
  padding: 0 10px 0 10px;
}

.hidden {
  opacity: 0;
}

.console-container {
  font-size: 10px;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
